body{
	background: #000008;
	margin: 0px;
	padding: 0px;
	color: #24aaff;
	font-size: 16px;
	text-shadow: 0px 1px 5px black, 0 0 1px black;
}

.background{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/connecting.gif);
	background-position: center center;
	opacity: 1;
	background-repeat: no-repeat;
	-webkit-transition: opacity 1s ease-out 0.5s;
     -moz-transition: opacity 1s ease-out 0.5s;
     -o-transition: opacity 1s ease-out 0.5s;
     transition: opacity 1s ease-out 0.5s;
     z-index: 100;
}

.copyright{
	position: absolute;
	bottom: 0px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
}

.inputform{
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 1s ease-out 0.5s;
     -moz-transition: opacity 1s ease-out 0.5s;
     -o-transition: opacity 1s ease-out 0.5s;
     transition: opacity 1s ease-out 0.5s;
}

.inputform-cell{
	display: table-cell;
	vertical-align: middle;
}

button{
	border: 3px solid #24aaff;
	border-radius: 5pc;
	background-color: aqua;
	padding: 5px;
	cursor: pointer;
}

input{
	background-color: #1c455f;
	color: #24aaff;
	padding: 5px;
	border-radius: 5pc;
	border: 3px solid #24aaff;
	text-align: center;
}

.menu{
	width: 100%;
	height: 60px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.menu-item{
	display: inline-block;
	font-size: 24px;
    cursor: pointer;
    padding: 10px;
	text-decoration: none;
    color: #24aaff;
}

.menu-item:hover{
	text-shadow: 1px 1px 5px #24aaff;
}

.content{
	display: block;
	width: calc(100% - 60px);
	height: calc(100% - 100px);
    position: fixed;
    top: 70px;
	overflow-y: scroll;
	padding-left: 30px;
	text-align: center;
}

.visualizer-list{
	display: inline-block;
    position: fixed;
    left: 10px;
    top: 70px;
    width: 200px;
    height: calc(100% - 100px);
	overflow-y: scroll;
}

.visualizer-plot{
	display: inline-block;
    position: fixed;
    top: 70px;
    left: 220px;
    width: 100%;
    height: calc(100% - 100px);
    width: calc(100% - 240px);
    overflow: scroll;
}

.statistics-table, .visualizer-table{
	display: inline-table;
}

.visualizer-table{

}

.statistics-row, .visualizer-row{
	display: table-row;
}

.statistics-cell, .visualizer-cell{
	display: table-cell;
	padding-left: 30px;
	padding-right: 30px;
	border-bottom: 1px solid darkslategrey;
	vertical-align: middle;
}

.visualizer-cell{
	cursor: pointer;
}

.visualizer-cell:hover{
	text-shadow: 1px 1px 5px #24aaff;
}

.statistics-cell.success{
	background-color: darkcyan;
}

.statistics-cell.normal{
	background-color: black;
}

.statistics-cell.low{
	background-color: darkred;
}

.statistics-cell.info{
	width: 250px;
	
}

.statistics-cell.info .status{
	padding-top: 10px;
}

.statistics-cell.name.processing{
	font-size: 30px;
}

.bitprogress{
	display: none;
	height: 10px;
    border: 1px solid #24aaff;
    background-color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bitprogress-ins{
	background-color: #24aaff;
	height: 10px;
}
